{% extends 'base.html.twig' %}
{% set page = 'team' %}

{% block title %}Modification d'un joueur{% endblock %}

{% block body %}
<div class="grid-content">
    <h1>Modification d'un joueur</h1>

    <form action="{{ path('app_player_edit', {'id': player.id}) }}" method="post">
         <div class="row">
            <div class="col-6">
                Nom
            </div>
            <div class="col-6">
                {{ form_widget(form.firstName) }} {{ form_errors(form.firstName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Prénom
            </div>
            <div class="col-6">
                {{ form_widget(form.lastName) }} {{ form_errors(form.lastName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Age
            </div>
            <div class="col-6">
                {{ form_widget(form.age) }} {{ form_errors(form.age) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Hauteur
            </div>
            <div class="col-6">
                {{ form_widget(form.height) }} {{ form_errors(form.height) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Poids
            </div>
            <div class="col-6">
                {{ form_widget(form.weight) }} {{ form_errors(form.weight) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Natiolité du joueur
            </div>
            <div class="col-6">
                {{ form_widget(form.nationality) }} {{ form_errors(form.nationality) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Sport du joueur
            </div>
            <div class="col-6">
                {{ form_widget(form.sport) }} {{ form_errors(form.sport) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Numéro du maillot
            </div>
            <div class="col-6">
                {{ form_widget(form.player_num) }} {{ form_errors(form.player_num) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Poste sur le terrain
            </div>
            <div class="col-6">
                {{ form_widget(form.player_position) }} {{ form_errors(form.player_position) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_widget(form._token) }}
                <button type="submit" class="btn btn-primary float-right">Valider</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
