
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="row">
        {% for personna in personne %}
        <div class="card col-3">
            <div class="card-body">
                <h4 class="card-title">{{ personna.firstName }}</h4>
                <p class="card-text">{{ personna.firstName}} {{ personna.lastName }}</p>
                <p class="card-text">{{ personna.age }}</p>
                <a href="{{ path('personne_detail',{id : personna.id}) }}" class="card-link">Détails</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- <div class="d-flex justify-content-between">
        {% if (pcrnt > 1) %} <a href="{{ path('personne_list.limites', {'pcrnt' : pcrnt-1}) }}" class="btn btn-primary">Previous</a> {% endif %} {% if (pcrnt
        < pagesMax) %} <a href="{{ path('personne_list.limites' , {'pcrnt' : pcrnt+1} )}}" class="btn btn-secondary">Next</a>

            {% endif %}
    </div>-->
    <!-- {{ knp_pagination_render(personne) }}-->

    {{ knp_pagination_render(personne) }}
</body>

</html>