{% extends 'base.html.twig' %} {% block body %}
<h1>Création d'une nouvelle équipe</h1>

<form action="{{ path('app_player_new') }}" method="post">
    <div class="row">
        <div class="col-6">
            Nom
        </div>
        <div class="col-6">
            {{ form_widget(form.firstName) }} {{ form_errors(form.firstName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Date de création
        </div>
        <div class="col-6">
            {{ form_widget(form.lastName) }} {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Couleur du maillot
        </div>
        <div class="col-6">
            {{ form_widget(form.age) }} {{ form_errors(form.age) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Origine
        </div>
        <div class="col-6">
            {{ form_widget(form.height) }} {{ form_errors(form.height) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Nombre de joueurs
        </div>
        <div class="col-6">
            {{ form_widget(form.weight) }} {{ form_errors(form.weight) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_widget(form._token) }}
            <button type="submit" class="btn btn-primary float-right">Valider</button>
        </div>
    </div>
</form>
{% endblock %} {% block title %} {% endblock %}