{% extends 'base.html.twig' %}

{% block title %}Page de démarrage{% endblock %}

{% block body %}


<header class="grid-header">
</header>
<nav class="grid-nav">
    <h2>Gestion des joueurs</h2>
    <div class="rounded-bar">
        <div class="box bg-primary">1 • Liste des joueurs</div>
        <div class="box text-muted">2 • Infos joueur</div>
        <div class="box text-muted">3 • Équipes</div>
        <div class="box text-muted">4 • Tournois</div>
    </div>
</nav>
<div class="grid-content">

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Âge</th>
                <th>Taille</th>
                <th>Poids</th>
                <th>Nationalité</th>
                <th>Sport</th>
                <th>Maillot</th>
                <th>Poste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.height }}</td>
                <td>{{ player.weight }}</td>
                <td>{{ player.nationality }}</td>
                <td>
                    {% for sport in player.sport %}
                    {{ sport.sportName }}
                    {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ player.getPlayerNum() }}</td>
                <td>{{ player.getPlayerPosition() }}</td>
                <td>
                    <a href="{{ path('app_player_edit', {'id': player.id}) }}" class="btn btn-primary">Modifier</a>
                    <form action="{{ path('app_player_delete', {'id': player.id}) }}" method="post" style="display: inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('remove-player-'~player.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_player_new') }}" class="float-right btn btn-primary">Nouveau Joueur</a>
</div>
{% endblock %}
