{% extends 'base.html.twig' %}

{% block title %}Page de démarrage{% endblock %}

{% block body %}
<div class="grid-content">
    <h1>Liste des joueurs </h1>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Age</th>
            <th>Taille</th>
            <th>Poids</th>
            <th>Nationalité</th>
            <th>Sport</th>
            <th>Mallot</th>
            <th>Poste</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.height }}</td>
                <td>{{ player.weight }}</td>
                <td>{{ player.nationality }}</td>
                <td>
                        {% for sport in player.sport %}
                            {{ sport.sportName }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                </td>
                <td> {{ player.getPlayerNum() }} </td>
                <td> {{ player.getPlayerPosition() }} </td>
               
                <td>
                    <a href="{{ path('app_player_edit', {'id': player.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
                <td>
                    <form action="{{ path('app_player_delete', {'id': player.id}) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('remove-player-'~player.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_player_new') }}" class="float-right btn btn-primary">Nouvelle Equipe</a>
</div>
{% endblock %}
