{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
<div class="grid-content">
    <h1>Gestion des tournois sportifs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_tournament</th>
                <th>Description</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Gender</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.nameTournament }}</td>
                <td>{{ tournament.description }}</td>
                <td>{{ tournament.startDate ? tournament.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tournament.endDate ? tournament.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tournament.gender }}</td>
                <td>{{ tournament.status }}</td>
                <td>
                    <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">show</a>
                    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('app_tournament_new') }}">Create new</a>
{% endblock %}
